@font-face {
  font-family: primary;
  src: url(Font/63cffc0a3942456e003bc265_Chillax-Regular.woff);
}
@font-face {
  font-family: secondary;
  src: url(Font/63cffc20aa8997095067596f_Satoshi-Light.woff);
}
@font-face {
  font-family: button;
  src: url(Font/L0x5DF4xlVMF-BfR8bXMIjhLq3-cXbKD.woff2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  font-size: clamp(14px, 1vw, 18px);
}

body {
  background-color: #121212;
  color: #f4f2ed;
}

section {
  max-width: 1900px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: center;
}
main nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 1rem;
}
main nav .logo {
  padding-left: 1rem;
  cursor: pointer;
}
main nav .menu ul {
  display: flex;
  gap: 0.6rem;
}
main nav .menu ul .mhide {
  display: none;
}
main nav .menu ul .btn {
  background-color: #CEBD63;
  color: #1E1E1E;
}
main nav .menu ul .btn button {
  background-color: transparent;
  border: none;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-family: button;
  cursor: pointer;
}
main nav .menu ul li {
  list-style: none;
  text-transform: uppercase;
  font-family: button;
  padding: 0.8rem 1rem;
  background-color: #1E1E1E;
  border-radius: 0.7rem;
  font-size: 0.8rem;
  letter-spacing: 2px;
  cursor: pointer;
}
main nav .menu ul li span {
  background-color: #CEBD63;
  color: #1E1E1E;
  border-radius: 50%;
  padding: 2px 7px;
  font-size: 0.7rem;
}
main section.view1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
main section.view1 .top {
  width: 100%;
}
main section.view1 .top img {
  width: 100%;
  border-radius: 0.7rem;
}
main section.view1 .bottom {
  background-color: #1E1E1E;
  border-radius: 0.7rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
main section.view1 .bottom h4 {
  font-family: button;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 400;
}
main section.view1 .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.view1 .bottom .text h1 {
  font-family: primary;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 2.5rem;
}
main section.view1 .bottom .text p {
  color: rgba(244, 242, 237, 0.6);
  font-family: secondary;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.7;
}
main section.view1 .bottom .text button {
  background-color: transparent;
  border: none;
  color: #f4f2ed;
  font-family: button;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 1rem;
}
main section.view1 .bottom .text button i {
  border: 1px solid white;
  padding: 1rem;
  border-radius: 50%;
}
main section.view2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
}
main section.view2 .top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: primary;
  width: 100%;
  row-gap: 2rem;
}
main section.view2 .top .element {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}
main section.view2 .top .element small {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(244, 242, 237, 0.6);
  letter-spacing: 1px;
}
main section.view2 .top .element h2 {
  font-size: 2.5rem;
  font-weight: 400;
}
main section.view4 {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.view4 > h2 {
  font-family: primary;
  font-weight: 400;
  font-size: 2rem;
  padding-left: 1rem;
}
main section.view4 .team {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  gap: 1rem;
}
main section.view4 .team .team1 {
  background-image: url(images/team1.webp);
  aspect-ratio: 1/1;
  background-size: cover;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  justify-content: space-between;
  padding: 1rem;
}
main section.view4 .team .team2 {
  background-image: url(images/team2.webp);
  aspect-ratio: 1/1;
  background-size: cover;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  justify-content: space-between;
  padding: 1rem;
}
main section.view4 .team .team3 {
  background-image: url(images/team3.webp);
  aspect-ratio: 1/1;
  background-size: cover;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  justify-content: space-between;
  padding: 1rem;
}
main section.view4 .team .top {
  display: flex;
  gap: 1rem;
  justify-content: end;
  padding-top: 1rem;
}
main section.view4 .team .top i {
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
}
main section.view4 .team .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  padding: 1rem;
}
main section.view4 .team .bottom h2 {
  font-family: primary;
  font-weight: 300;
  font-size: 1.3rem;
  text-transform: uppercase;
}
main section.view4 .team .bottom p {
  font-family: button;
  font-weight: 1rem;
}
main section.view5 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0rem 1rem;
}
main section.view5 .top img {
  width: 100%;
  border-radius: 0.7rem;
}
main section.view5 .bottom {
  background-color: #1E1E1E;
  border-radius: 0.7rem;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
main section.view5 .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.view5 .bottom .text h4 {
  font-family: button;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
  color: rgba(244, 242, 237, 0.6);
  letter-spacing: 1px;
}
main section.view5 .bottom .text h2 {
  font-family: primary;
  font-weight: 300;
  font-size: 2.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 2.6rem;
}
main section.view5 .bottom button {
  background-color: transparent;
  border: none;
  color: #f4f2ed;
  font-family: button;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 1rem;
  letter-spacing: 1px;
}
main section.view5 .bottom button i {
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
main section.view6 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}
main section.view6 .cta {
  background-color: #CEBD63;
  border-radius: 0.7rem;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main section.view6 .cta .text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
main section.view6 .cta .text h4 {
  font-family: button;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
  color: #1E1E1E;
  letter-spacing: 1px;
}
main section.view6 .cta .text h2 {
  font-family: primary;
  font-weight: 300;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 2.8rem;
  color: #1E1E1E;
}
main section.view6 .cta button {
  background-color: #121212;
  border: none;
  color: #f4f2ed;
  font-family: button;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  letter-spacing: 1px;
  padding: 1.3rem 1rem;
  border-radius: 0.3rem;
}
main section.view6 .cta button i {
  cursor: pointer;
  color: white;
}
main footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
main footer .left {
  background-color: #1E1E1E;
  border-radius: 0.7rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}
main footer .left img {
  cursor: pointer;
  width: 4rem;
}
main footer .left .social {
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
main footer .left .social i {
  padding: 0.8rem;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
  font-size: 1.2rem;
}
main footer .right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
main footer .right .top {
  background-color: #1E1E1E;
  border-radius: 0.7rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
main footer .right .top .links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: start;
}
main footer .right .top .links .btn {
  background-color: #CEBD63;
  color: #1E1E1E;
  border: none;
  border-radius: 0.7rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-family: button;
  cursor: pointer;
  padding: 1rem 1.5rem;
  font-size: 1rem;
}
main footer .right .top .links h3 {
  font-family: primary;
  font-weight: 300;
  font-size: 1.5rem;
  text-transform: uppercase;
}
main footer .right .top .links ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main footer .right .top .links ul li {
  list-style: none;
  cursor: pointer;
  font-family: button;
  font-size: 1rem;
  letter-spacing: 1px;
  color: rgba(244, 242, 237, 0.6);
  text-transform: uppercase;
}
main footer .right .bottom {
  background-color: #1E1E1E;
  border-radius: 0.7rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main footer .right .bottom .made {
  display: flex;
  justify-content: center;
}
main footer .right .bottom .made p {
  font-family: button;
  font-size: 1rem;
  color: rgba(244, 242, 237, 0.6);
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}
main footer .right .bottom .gotop {
  display: flex;
  justify-content: center;
}
main footer .right .bottom .gotop p {
  font-family: button;
  font-size: 1rem;
  color: rgba(244, 242, 237, 0.6);
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
}
main footer .right .bottom .gotop p button {
  background-color: transparent;
  border: none;
}
main footer .right .bottom .gotop p button i {
  padding: 0.8rem;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
  font-size: 1.2rem;
  color: white;
}

@media (min-width: 900px) {
  main nav .menu ul .mhide {
    display: flex;
  }
  main section.view1 {
    flex-direction: row;
    padding: 0rem 1rem 0rem 1rem;
    justify-content: space-between;
  }
  main section.view1 .top,
  main section.view1 .bottom {
    width: 50%;
    row-gap: 8rem;
  }
  main section.view1 .top img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    display: block;
  }
  main section.view1 .bottom {
    justify-content: space-between;
    padding: 3rem;
  }
  main section.view1 .bottom .text h1 {
    font-size: 3rem;
    line-height: 1.3;
    letter-spacing: 2px;
  }
  main section.view1 .bottom .text p {
    width: 70%;
    font-size: 1rem;
  }
  main section.view2 {
    padding: 3rem 8rem;
  }
  main section.view2 .top {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  main section.view2 .top .element h2 {
    font-size: 4rem;
  }
  main section#edit3 {
    flex-direction: row-reverse;
    padding: 0rem 1rem;
  }
  main section#edit3 .bottom {
    row-gap: 8rem;
  }
  main section#edit3 .bottom p {
    -moz-column-count: 2;
         column-count: 2;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    width: 100%;
  }
  main section#edit4 {
    padding: 1rem;
  }
  main section#edit4 .bottom {
    row-gap: 8rem;
  }
  main section#edit4 .bottom p {
    -moz-column-count: 2;
         column-count: 2;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    width: 100%;
  }
  main section.view4 .team {
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
  }
  main section.view4 .team .team1 {
    width: 33%;
  }
  main section.view4 .team .team2 {
    width: 33%;
  }
  main section.view4 .team .team3 {
    width: 33%;
  }
  main section.view5 {
    flex-direction: row;
  }
  main section.view5 .top,
  main section.view5 .bottom {
    width: 50%;
  }
  main section.view5 .bottom {
    justify-content: space-between;
  }
  main section.view6 {
    flex-direction: row;
  }
  main section.view6 .cta {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    padding: 3rem;
  }
  main section.view6 .cta .text {
    width: 80%;
  }
  main section.view6 .cta .text h2 {
    font-size: 5rem;
    line-height: 5rem;
  }
  main section.view6 .cta button {
    width: 20%;
    border-radius: 0.7rem;
  }
  main footer {
    flex-direction: row;
  }
  main footer .left {
    justify-content: space-between;
  }
  main footer .right .top {
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem;
  }
  main footer .right .top .links {
    width: 33%;
  }
  main footer .right .bottom {
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem 1rem;
  }
}/*# sourceMappingURL=style.css.map */